@model List<TestNetCore.Controllers.NewsController.Article>;
@{
    ViewData["Title"] = "News Homepage";
    Layout = "_Layout";

    //var articles = ViewBag.Article;
    //var articles = ViewData["Article"] as List<TestNetCore.Controllers.NewsController.Article>;
}
<h1>News Listing</h1>
<table class="table">
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Content</th>
        <th>Author</th>
    </tr>
    @foreach (var article in Model)
    {
        <tr>
            <td>@article.Id</td>
            <td>@article.Title</td>
            <td>@article.Content</td>
            <td>@article.Author</td>

        </tr>
    }
</table>



