
@model AppMVC.Net.Models.ProductModels
@{
    var product = ViewData["product"] as ProductModels;
}
<p>@ViewData["Title"]</p>
<div class="card badge-primary text-white">
    <h1 class="card-header "> @product.Name</h1>
    <div class="card-body">
        <p class="card-text">
            Giá: @product.Price
        </p>
    </div>

</div>


