@{ 
    ViewData["Title"] = "Xóa Db";

}
<h1>@ViewData["Title"]</h1>
<p class="alert alert-danger" >
   Bạn có chắc chắn xóa ?
</p>

<form method="post">
    <button type="submit"class="btn btn-danger">
        Xóa Db
    </button>
</form>

<hr />
<a asp-action="Index"> Quản lý Db</a>