
@{
    ViewData["Title"] = "_CustomLayout";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div style="background-color:burlywood; padding:15px; text-align:center">
        Home - Products - New - About Us
    </div>
    <div>
        @RenderBody()
    </div>
    <div style=" background-color:dodgerblue; padding:15px; text-align:right">
        Coppyright: By KhaiChelsea 2022!
    </div>
</body>
</html>
