@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<!a asp-page="ViewProduct" asp-route-id="3">
    Watch product 3
</!a>

<form>
    <label asp-for="UserName"></label>
    <input asp-for="UserName" />
    <hr />
    @Html.Label("UserName")
    @Html.TextBox("UserName")
</form>

@{ 
    var productlist = new List<String>
    {
        "Product Name 1",
        "Product Name 2",
        "Product Name 3"
    };
}
<mylist
    list-title = "List product"
    list-items = "@productlist">
</mylist>

