@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "_PostLayout";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@section ContentFooter{
    <p> Copyright by Khai Chelsea 2022</p>
}