@page "/aboutrazor.html"
@{ 
    Layout = "_Layout";
}

<h1>Giới thiệu về Razor</h1>

<p>
    Razor là một template engine trong .NET, nó là Template engine mặc định 
    của ASP.NET MVC, có chức năng  render(dựng) HTML từ các view(.cshtml).
    View(.cshtml) cho phép viết HTMl và nhúng code C#.
</p>
