@using AppMVC.Net.Models

@model List<ProductModels>

<h1> Danh sách các sản phẩm </h1>
<ul>
    @foreach (var product in Model)
    {
        <li>
            @product.Name
        </li>
    }

</ul>
