@page
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
<h1 style="color:chartreuse"> Is Page Service</h1>
<a asp-page=Service1> Service1</a>
<a asp-page="NewProduct" asp-area="Products">NewProduct</a>
<a href="./Areas/Products/NewProduct.cshtml"></a>
