@inject AppMVC.Net.Services.PlantService plantService

<h1>Các hành tinh trong hệ mặt trời</h1>

<div class="list-group">
    @foreach (var planet in plantService)
    {
        <a class="list-group-item list-group-item-action" asp-action="@planet.Name">
            @planet.VnName : @planet.Name
        </a>
    }
</div>
