<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div style="background-color:aqua"  > PHAN HEADER</div>
        @RenderBody()
    <div style="background-color:antiquewhite">Copyright by KhaiMinhVu2022</div>
</body>
</html>
